.ArgumentFormBody{
    margin:5px 0px;
    border:2px solid #ececec;
    border-radius:4px;
    width:fit-content;
}

.ArgumentFormInput{ 
    padding:10px;
    font-size: 13px;
    border:none;
    border-radius:5px;
    font-weight:600;
}
.ArgumentFormInput::placeholder{
    color: #888888;
}

.ArgumentFormInput:focus{
   outline: none;
}

.ArgumentFormSelect{
    padding:5px;
    border:none;
    border-radius:5px;
    font-weight: 700;
    color: #3f3f3f;
}
.ArgumentFormSelect:focus{
    outline: none;
 }
.ArgumentFormButton{
        margin:2px;
        padding:8px;
        color:#49AF50;
        border-radius:5px;
        font-weight: 700;
        background:#DFFEE1;
        border:2px solid #49AF50;
        
      
 }
 
 .ArgumentFormButton:hover{
    background: #b8f6bc;
 }

 .ArgumentFormButton:active{
    background: #e8fde9;
    color: #3e9b44;
    box-shadow: 0px 0px 20px 5px rgba(73, 175, 80 ,0.6);
 }


 .SelectComponentCloseButtom{
    padding: 8px 12px;
    background: #FFD3D3;
    border: 1px solid #ff8f8f;
    color: #ff2323;
    font-weight: 800;
    border-radius:20px ;
 }
 .SelectComponentCloseButtom:hover{
    background: #ff9494;
 }

 .SelectComponentselect{
    font-weight: 800;
    color: #3f3f3f;
    border: none;
    padding: 9px 12px;
    background: transparent;
 }

 .SelectComponentselect:focus{
    outline: none;
 }

 .SelectComponentAddOP{
    margin:2px;
    padding:8px;
    color:#49AF50;
    border-radius:5px;
    font-weight: 700;
    background:#DFFEE1;
    border:2px solid #49AF50;

 }

 .SelectComponentselectArg{
    margin-left: 20px;
    margin:2px;
    padding:8px;
    color:#afa849;
    border-radius:5px;
    font-weight: 700;
    background:#fefbdf;
    border:2px solid #d3d586;
 }

 .SelectComponentselectnewComp{
    padding: 10px;

 }